.container-head-tools{
    width: 100px;
    height: 70px;
    position: relative;
    top: -35px;
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    transition: all 0.2s ease;
}

.container-rapid-tools{
    width: 150px;
    max-width: 150px;
    height: 50%;
    right: 70px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all 0.2s ease;
}

.tool{
    width: 35px;
    height: 35px;
}

/* .tool-user{}

.tool-logOut{}

.tool-leng{} */