/* Clases de estructuracion de barra de opciones */

.container{
    color: rgb(33, 43, 54);
    transition: all 0.2s ease;
    box-shadow: none;
    background-image: none;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    height: 100%;
    flex: 1 0 auto;
    position: fixed;
    top: 0px;
    outline: 0px;
    left: 0px;
    border-right: 1px dashed rgba(145, 158, 171, 0.24);
    z-index: 0;
    width: 28vh;
    background-color: transparent;
    z-index: 0;
}

.container-close{
    width: 9vh;
}

.top-box{
    position: relative;
    top: 0;
    left: 0;
    background-color: transparent;
    width: 100%;
    height: 18vh;
}

.options-box{
    position: relative;
    top: 0;
    left: 0;
    background-color: transparent;
    width: 100%;
    height: 82vh;
}

/* Logo de la app en la barra */

.container-logo-app{
    background-color: rgb(0, 0, 0, 0.925);
    width: calc(100% - 44px);
    height: 40px;
    position: relative;
    top: 22px;
    left: 22px;
    color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    border-radius: 5px;
}

/* Boton para abrir/cerrar barra */

.button-bar{
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    width: 20px;
    height: 20px;
    position: relative;
    left: 271px;
    top: 33px;
    border: 1px dashed rgba(145, 158, 171, 0.24);
    z-index: 1;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease;
}

.button-bar-close{
    left: 80px;
}

.arrow-icon{
    transform: scale(0.6);
}


/* medias querys */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .button-bar{
        left: 252px;
    }
    .button-bar-close{
        left: 75px;
        background-color: black;
    }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}
