/* Clases formulario add cliente */

.form-add-cliente{
    position: absolute;
    top: 4.5em;
    width: 80%;
}

/* Boton add cliente1 */

.button-add{
    position: absolute;
    right: 0em;
    bottom: -2.9em;
    transition: all 0.2s ease;
}

/* Clases snackbar */

.text-snackbar{
    color: rgb(33, 43, 54);
    font-weight: 400;
    line-height: 1.5em;
}