.body-container{
    color: azure;
    height: 100vh;
    width: calc(100% - 28vh);
    left: 25.6vh;
    top: 0;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    transition: all 0.2s ease;
    flex-direction: column;
}

.container-option{
    position: relative;
    width: 95%;
    height: 83vh;
    display: flex;
    padding: 20px;
    left: 40px;
    top: -20px;
}

.body-container-amp{
    left: 6.65vh;
    width: calc(100% - 9vh);
}

.comp-2{
    background-color: red;
    width: 100px;
    height: 100px;
}

.comp-3{
    background-color: blue;
    width: 100px;
    height: 100px;
}

.comp-4{
    background-color: pink;
    width: 100px;
    height: 100px;
}

.comp-5{
    background-color: yellow;
    width: 100px;
    height: 100px;
}
